@import "style/index.scss";

$log-line-number-width: 30px;
$step-status-width: 15px;

.action-log {
  background-color:#283142;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  box-sizing: border-box;

  &__empty-state {
    @include sectionTitle;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: #FCFCFC;;
    margin: 0;
    img {
      margin-bottom: var(--large-spacing);
    }
  }
  &__header {
    @include flexFullRowWithSpacing;
    padding: var(--default-spacing);
    color: #FCFCFC;;
    margin-bottom: var(--double-spacing);
    box-sizing: border-box;
    .circle-icon {
      margin-right: var(--default-spacing);
      color: green;
    }

    
  }
  &__body {
    flex: 1;
    overflow: auto;
    // @include scrollbars($default-scroll-width, var(--black60), transparent);
    box-sizing: border-box;
  }
  &__step {
    font-weight: 500;
    margin-bottom: var(--large-spacing);
    color:#FCFCFC;
    &__row {
      @include flexFullRowWithSpacing;
      justify-content: flex-start;
      padding-left: $log-line-number-width;
      padding-right: var(--default-spacing);
      margin-bottom: var(--default-spacing);
      height: calc(var(--default-spacing) * 2);
    }

    &__status {
      width: $step-status-width;

      &--success {
        color: #87d068;
      }

      &--failed {
        color: #f50;
      }

      &--running {
        .rmwc-circular-progress {
          color: #FCFCFC;;
        }
      }
    }

    &__message {
      flex: 1;
    }

    &__duration {
      @include bold;
    }
    &__log {
      margin-bottom: var(--large-spacing);
    }
  }

  .react-lazylog {
    color: #FCFCFC;
    background-color:#283142;
    height: auto !important;
    @include scrollbars($default-scroll-width, var(--black60), transparent);

    .log-line {
      //line number
      a {
        min-width: $log-line-number-width;
        width: $log-line-number-width;
      }
    }
  }
}
